.message-component {
  padding: 1rem;
  border: 1px solid black;
  position: relative;
  overflow-wrap: break-word;
}
.message-info {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  top: 2px;
  left: 2px;
  font-size: 0.8rem;
}
